@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS like bootstrap */
.p-2 {
  padding: 0.5rem;
}

.p-5 {
  padding: 2rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.my-2 {
  margin: 0.5rem 0 0.5rem 0;
}

.mx-2 {
  margin: 0 0.5rem 0 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.text-center {
  text-align: center;
}

/* HEADER */
header .header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  position: relative;
}
header .header .header__navBack {
  position: absolute;
  left: 10px;
}
header .header .header__navBack a {
  color: inherit;
}

.header__img {
  width: 100vw;
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

/* MENU */
.menu {
  position: relative;
  margin-top: -4rem;
  background: #f7f7f7;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.menu .header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 20px;
}
.menu .header__menu .restaurant__icone {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  font-size: 20px;
}
.menu .header__menu .restaurant__icone .icone_empty {
  z-index: 2;
}
.menu .header__menu .restaurant__icone .icone_empty:hover {
  z-index: 1;
  display: none;
}
.menu .header__menu .restaurant__icone .icone_full {
  z-index: 1;
  color: white;
}
.menu .header__menu .restaurant__icone .icone_full:hover {
  background: linear-gradient(0deg, #aa5ddc 12%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
.menu .header__menu .restaurant__icone i {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.menu .content__menu {
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
}
.menu .content__menu .menu_title {
  font-weight: 200;
  position: relative;
  margin: 20px 0;
}
.menu .content__menu .menu_title::after {
  content: "";
  background-color: #99e2d0;
  color: #99E2D0;
  width: 2.5rem;
  height: 0.25rem;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.menu .content__menu .container__menu__item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 12px;
  cursor: pointer;
}
.menu .content__menu .container__menu__item .content__menu {
  padding: 5px;
  width: 100%;
}
.menu .content__menu .container__menu__item .content__menu .title__menu {
  /* background-color: yellow; */
}
.menu .content__menu .container__menu__item .content__menu .title__menu h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .content__menu .container__menu__item .content__menu .desc__menu {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
}
.menu .content__menu .container__menu__item .content__menu .desc__menu .desc__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .content__menu .container__menu__item .content__menu .desc__menu .desc__price {
  font-weight: 800;
}
.menu .content__menu .container__menu__item .content__menu .desc__menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .content__menu .container__menu__item .check__menu {
  position: relative;
  background-color: #99E2D0;
  margin-right: -10px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  width: 0px;
  transition: width 0.5s;
}
.menu .content__menu .container__menu__item .check__menu i {
  display: none;
}
.menu .content__menu .container__menu__item:hover .check__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: apear 1s ease; */
  width: 50px;
  height: auto;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
.menu .content__menu .container__menu__item:hover .check__menu i {
  display: block;
  animation: rotation 1s ease;
  color: white;
  font-size: 20px;
}
.menu .content__menu .menu__button button {
  border-radius: 36px;
  background: linear-gradient(0deg, #aa5ddc 12%, #ff79da 100%);
  padding: 12px 30px;
  color: white;
  border: none;
  margin: 30px 0;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.menu .content__menu .menu__button button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 8px 8px rgba(0, 0, 0, 0.23);
}

/* FOOTER */
footer {
  background: #474747;
  padding: 20px;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  margin: 15px 0;
  font-weight: 500;
}
footer p {
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
}
footer p a {
  color: white;
  text-decoration: none;
}

/* APPEAR ANIMATION */
.animation--appear {
  animation: appear 1s ease;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

/*# sourceMappingURL=restaurants.css.map */
