@import "./utils/_variables.scss";
@import "./base/_reset.scss";
@import "./vendors/_utility.scss";


/* HEADER */
header{
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $title-police; 
        position: relative;
        .header__navBack{
          position: absolute;
          left: 10px;
          a{
            color : inherit
          }
        } 
    }     
}
.header__img{
    width: 100vw;
    height: 35vh;
    width: 100%;
    object-fit: cover;
} 
/* MENU */
.menu{
    position: relative;
    margin-top: -4rem;  
    background: $gray;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    .header__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        font-family: $title-police;
        font-weight: 500;
        font-size: 20px;
        .restaurant__icone{
          position: relative;
          display: inline-block;
          width: 2em;
          height: 2em;
          line-height: 2em;
          vertical-align: middle;
          font-size: 20px;
          .icone_empty{
            z-index: 2;
            &:hover{
              z-index: 1;
              display: none;
            }
          }
           .icone_full{
            z-index: 1;
            color: white;
            &:hover{
              background: $priSecDegrad;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              z-index: 2;
            }
          } 
          i{
            position: absolute;
            left: 0;
            top: 10px;
            width: 100%;
            text-align: center;
            cursor: pointer;
          }
        }
    }
    .content__menu{
        font-family: $text-police;
        padding: 0 20px;
        .menu_title{
            font-weight: 200;
            position: relative;
            margin: 20px 0;
            &::after{
                content: "";
                background-color: #99e2d0;
                color: $tertiaire;
                width: 2.5rem;
                height: .25rem;
                position: absolute;
                left: 0;
                bottom: -5px;
           }
        }
        .container__menu__item{
          box-shadow: $boxShadow;
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          padding: 0 10px;
          border-radius: 12px;
          cursor: pointer;
            .content__menu{
              padding: 5px;
              width: 100%;
              transition: 0.5s width ;
              .title__menu{
                h4{
                  white-space: nowrap; 
                  overflow: hidden;
                  text-overflow: ellipsis;
                  
                }
              }
              .desc__menu{
                display: flex;
                justify-content: space-between;
                .desc__desc{
                  white-space: nowrap; 
                  overflow: hidden;
                  text-overflow: ellipsis;
                } 
                .desc__price{
                  font-weight: 800;
                }
                p{
                  white-space: nowrap; 
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              } 
            }
            .check__menu{
              position: relative;
              background-color: $tertiaire;
              margin-right: -10px;
              border-bottom-right-radius: 12px;
              border-top-right-radius: 12px;
              width: 0%;
              transition: width 0.5s;
              i{
                display: none;
              }
            }
            &:hover{
              @media screen and (max-width: 500px) {
                .content__menu {
                  width: 88%;
                  
                }
              }
            .check__menu{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: auto;
              border-bottom-right-radius: 12px;
              border-top-right-radius: 12px;
              i{
                display: block;
                animation: rotation 1s ease; 
                color: white;
                font-size: 20px;
              }
            }
          }
        }
        .menu__button{
            button{
                border-radius: 36px;
                background:  $priSecDegrad;
                padding: 12px 30px;
                color: white;
                border: none; 
                margin: 30px 0;
                cursor: pointer;
                font-weight: 600;
                box-shadow: $boxShadow;
                &:hover{
                    box-shadow: $boxShadowMore;
                    background:  $priSecDegradHover;
                }
            }   
        }
    }
}
/* FOOTER */
footer{
    background: $dark;
    padding: 20px;
    color: white;
    h3{
      font-family: $title-police;
      margin: 15px 0;
      font-weight: 500;
    }
    p{
      font-family: $text-police;
      margin: 10px 0;
      a{
          color: white;
          text-decoration: none;
      }
    }
  }

/* APPEAR ANIMATION */

.animation--appear{
  animation: appear 1s ease;
}
.delay-0{
  animation-delay: 0s;
}
.delay-1{
  animation-delay: 0.2s;
}
.delay-2{
  animation-delay: 0.4s;
}
.delay-3{
  animation-delay: 0.6s;
  
}
@keyframes appear {
  from {
      opacity: 0;
      transform: translateY(20px) ;
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-200deg) ;
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}