
@import "../base/_police.scss";

$primaire: #9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$priSecDegrad: linear-gradient(0deg, rgba(170,93,220,1) 12%, rgba(255,121,218,1) 100%);
$gray:rgb(247, 247, 247); 
$grayLight: rgb(252, 252, 252);
$dark:rgb(71, 71, 71);
$text-police: 'Roboto', sans-serif;
$title-police: 'Shrikhand', cursive;;  
$boxShadow : 0 4px 8px 0 rgba(0,0,0,0.2);
$boxShadowMore: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);